apiVersion: v1
kind: PersistentVolume
metadata:
  name: blockserver-pv-volume
  labels:
    type: local
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/block-data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blockserver-hostpath
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
